.buttonModal-action{
  width: 64px;
  padding: 8px;
  background-color: darkred;
  margin-right: 8px;
  margin-left: 8px;
  font-size: 16px;
  text-align: center;
  color: white;
  border: 1px darkred;
  border-radius: 4px
}