.row{
  display:flex;
  justify-content: space-between;
}
.container{
  max-width: 100%;
}

.col-1{
  flex: 1;
  padding-right: 0.6rem;
  padding-left: 0.6rem;
}

.col-2 {
  flex: 2;
}

.block{
  background-color: #e9e9f0;
  margin:0.5rem;
  border-radius: 0.5rem;
  padding: 0.1rem 2.8rem;
}

.row.center{
  align-items: center;

}

.text.right{
  text-align: right;
}

.text.left{
  text-align: left;
}

.small{
  max-height: 2.4rem;
}

.medium{
  max-height: 7.2rem;
  padding: 0.3rem;
}