.form-container {
  text-align: center;
  margin: 24px 0 12px 0;
  border: 3px solid #f1f1f1;
  background-color: #cccccc;
}

.form-page{
  text-align: center;
  margin: 24px 0 12px 0;
}
input[type=text], input[type=password] {
  width: 30%;
  padding: 12px 18px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: center;
}

.login-button {
  background-color: #314643;
  color: white;
  padding: 12px 18px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
}

.login-button:hover {
  background-color: #487a79;
  font-weight: bold;
}

.error{
  color:red;
}

