$mainColor:crimson;
$darkRedTheme:darkred;
$textColor:white;

@mixin flexCenter{
  display:flex;
  justify-content:center;
  align-items: center;
}

.modal-overlay{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: rgba(0, 0, 0, .6);
  z-index:1000
}

.modal-window{
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  background-color:$mainColor;
  z-index:1000;
  color:$textColor;
  width:56%;
  border: 1px solid $mainColor;
  border-radius: 4px;
  &__header{
    background-color:$darkRedTheme;
    font-size: 20px;
    font-weight: bold;
    display:flex;
    justify-content:space-between;
    padding: 16px 24px;
  }
  &__body{
    @include flexCenter;
    flex-direction:column;
    padding: 32px;
    text-align:center;
    font-size: 16px;
    .action-wrapper {
      margin-top: 16px;
    }
    &:hover{
      background-color: #ff4107;
      color: #eeeeee;
    }

  }
}
