.linkInfo{
  text-decoration: none;
  margin: 1rem;
  color: white;
  font-weight: bold;
  vertical-align: center;
  &--active{
    color:turquoise;
    border-bottom: 2px solid turquoise;
    padding-bottom: 34px;
  }
}

.linkInfo.sign{
  border: 1px solid white;
  padding: 6px 24px;
  border-radius: 18px;
  color: darkslateblue;
  background-color: #fafafc;
}

.navigation-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #082f68;
  max-width: 100%;
  height: 90px;

}