html, body {
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  background-color: lightsteelblue;
  width: 100%;
}

.header__wrapper {
  height: 54vh;
  background-image: url("./IMAGES/image_headercover.jpg");
  background-position: center;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  //width: calc(100vw + 48px);
  //margin: -24px,;
  //opacity: 0.4
}

.header__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  font-size: 48px;
  font-weight: 600;
  font-style: italic;
  color: #0afbfe;
}

.bodyhead__wrapper {
  padding: 24px;
  background-color: #e0dbd7;
  text-align: justify;
}

.goods__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color:#fafafc;
  padding-top: 36px;
  padding-bottom: 36px;

}

.goods__card {
  margin: 18px;
  background-color: ghostwhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  box-shadow: 0 0 24px 12px rgba(0, 0, 0, 0.6);
  border: 4px solid ghostwhite;
  border-radius: 6px;
}

.goods__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6px 36px;
}

.goods__item img{
  max-width: 100%;
  height: auto;
}

.buttonBuy {
  width: 80%;
  height: 36px;
  border: 1px;
  border-radius: 24px;
  background-color: midnightblue;
  color: white;
  font-size: 18px;

}


.footer__wrapper {
  background-color: midnightblue;
  height: 200px;
  color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;

}

.modalButtons__btn {
  margin: 18px;
  padding: 18px 36px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.overlay.show {
  display: block;
}

.overlay.hide {
  display: none;
}

.modal {
  position: fixed;
  background: white;
  max-width: 600px;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid darkslategrey;
  border-radius: 10px;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  background-color: darkgreen;

}

.modalButton__close {
  background-color: darkgreen;
  color: #eeeeee;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 30px;
  font-weight: bold;
  border: 1px darkgreen;
}

.modalTitle {
  font-size: 25px;
  margin-left: 40px;
  color: #eeeeee;
  font-weight: bold;
}

.modalBody {
  text-align: center;
  background-color: darkslategrey;
  color: #eeeeee;
  font-weight: bold;
  font-size: 16px;
  padding: 60px 30px 35px 30px;
  line-height: 25px;
}

.modalFooter {
  margin-top: 18px;
}

.actionsButton {
  margin: 12px;
  width: 90px;
  padding: 15px 0 15px 0;
  color: black;
  background-color: whitesmoke;
  font-size: 22px;
  border: 1px solid whitesmoke;

}

