.row{
  display:flex;
  justify-content: space-between;
}
.container{
  max-width: 100%;
}

.col-1{
  flex: 1;
  padding-right: 0.6rem;
  padding-left: 0.6rem;
}

.col-2 {
  flex: 2;
}

.block{
  background-color: #e9e9f0;
  margin:0.4rem;
  border-radius: 0.5rem;
  padding: 0.1rem 2.8rem;
}

.row.center{
  align-items: center;

}

.text.right{
  text-align: right;
}

.text.left{
  text-align: left;
}

.small{
  max-height: 2.4rem;
}

.btn.badge{
  background-color: red;
  color:white;
  width:1.8rem;
  border:4px solid red;
  border-radius: 4px;
}

.btn {
  font-size: 0.8rem;
  padding:0.2rem;
  margin:0.1rem;
  border-radius:0.5rem;
  border: 0.1rem;
  background-color: darkorange;
  width: 100%;
  cursor:pointer
}

.shoppingcart-signout{
  padding: 0.6rem 1.4rem;
  border-radius:0.3rem;
  border: 0.1rem solid #2b4c3e;
  background-color: #446b5d;
  color:white
}

.cart-title{
  color: red;
  font-style: italic;
}
